.wizard-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: var(--co-white);
    flex-direction: column;
  }
  .wizard-container .step {
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 70vh;
    align-items: center;
    justify-content: space-evenly;
}
.navigation-buttons {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    margin-top: 1rem;
}
.wizard-container input {
    width: 100%;
    border: 1px solid var(--co-back-gray);
}
.wizard-container textarea {
    width: 100%;
    height: 45%;
}
.current-step {
    margin-top: 1rem;
}
.schedule-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-direction: column;
    justify-content: center;
}

.schedule {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.schedule-row {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
}
.day-selection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.add-time-slot {
    border: 1px solid var(--co-back-gray-3);
}
.rrss-links {
    height: 100px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: .75rem;
}
.schedule_plans {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .3rem;
    width: 100%;
}
#plans-inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btn-add-plans {
    align-self: flex-end;
}
#amount-to-pay {
    width: 100px;
}
#table_wizard {
 border: 1px solid var(--co-back-gray);
 width: 55vw;
}
.btn-save-shedule {
    align-self: flex-end;
    border: 1px solid var(--co-back-gray);
    box-shadow: 0 5px 10px -5px var(--co-back-gray-3);
}
#table_wizard tbody tr td , .delete_shedule{
    background-color: var(--co-back-gray-2);
}
#table_wizard tbody tr td:last-child {
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.methods_payment {
    border: 1px solid var(--co-back-gray);
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.methods_payment h4 {
    color: var(--co-gray);
}
@media screen and (max-width:768px) {
    .wizard-container .step {
        width: 100%;
        height: 75vh;
    }
    #table_wizard {
        width: 90vw;
    }
    .day-selection {
        flex-wrap: wrap;
    }
    .add-time-slot {
        font-size: .75rem;
    }
    #plans-inputs {
        flex-wrap: wrap;
    }
}

  