.perfil-container {
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-header {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 1px solid var(--co-back-gray-3);
}
.perfil-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--co-back-gray);
}

.perfil-info {
width: 100%;
display: flex;
padding: .5rem;
align-items: center;
gap: 1rem;
justify-content: space-between;
}
.table-table-striped {
border: 1px solid var(--co-back-gray-2);
padding: .5rem;
width: 100%;
height: 23vh;
border-radius: 20px;
box-shadow: 0 5px 10px -5px var(--co-back-gray);
}
.table-table-striped tr td {
    text-align: center;
    border-radius: 10px;
    padding: 0 .3rem;
    color: var(--co-black-1);
    text-shadow: 0 0 1px var(--co-gray);
    background-color: var(--co-back-gray-2);
}
.perfil-info h2 {
    margin: 0;
    font-size: 24px;
}

.perfil-info p {
    margin: 5px 0;
    color: var(--co-gray);
    font-size: 16px;
}
.perfil-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
    margin-top: 20px;
}

.post-item {
    width: 100%;
    aspect-ratio: 1/1; 
    overflow: hidden;
    border: 1px solid var(--co-back-gray);
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    text-align: justify;
    overflow: hidden;
    box-shadow: 0 5px 10px -5px var(--co-back-gray);
    transition: transform 0.2s ease-in-out;
}

.post-item:hover {
    transform: scale(1.08);
    transition: .3s ease-in-out;
    box-shadow: 0 5px 4px -1px var(--co-back-gray);

}
.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.media-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--co-black-2);
    color: var(--co-white);
    padding: 10px;
    text-align: justify;
    opacity: 0;
    overflow-y: auto;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.post-item:hover .media-description {
    opacity: 1;
    transform: translateY(0);
}

.no-posts {
    color: var(--co-gray);
    font-size: 18px;
    width: 85vw;
    text-align: center;
}
#back-to-home {
    position: absolute;
    left: 2rem;
    font-size: 2rem;
    z-index: 999;
}
.media-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.isOnline {
    width: 18px;
    height: 18px;
    background-color: yellowgreen;
    border-radius: 50%;
    position: absolute;
    bottom: 1.3rem;
    right: 1.3rem;
    border: 3px solid var(--co-white);
}
.photo-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    position: relative;
}
#nameUser-perfil {
    font-size: 1.7rem;
    text-shadow: 1px 1px 5px var(--co-back-gray-3);
}
.perfil-container-empty {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.edit-container {
    position: absolute;
    top: 1rem;
    right: 0;
}

.edit-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background: var(--co-white);
    padding: 10px;
    border-radius: 8px;
    border-left: 1px solid var(--co-back-gray);
    border-right: 1px solid var(--co-back-gray);
    box-shadow: 0 8px 15px -5px var(--co-back-gray);
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-menu label {
    font-size: 14px;
    font-weight: bold;
}
.save-button {
 height: 35px;
}
.delete-button {
    z-index: 999;
    position: absolute;
    right: .1rem;
    bottom: .1rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--co-);
}
.delete-button:hover {
    background-color: var(--co-back-gray-2);
}

@media (max-width: 768px) {
    .perfil-container {
        width: 100%;
        padding: 1rem .2rem 0 .2rem;
    }
    .table-table-striped {
        height: auto;
    }
    .table-table-striped thead tr {
        font-size: .8rem;
    }
    .perfil-header {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .perfil-info {
        flex-wrap: wrap;
    }
    .perfil-avatar {
        width: 70px;
        height: 70px;
    }
    .perfil-name {
        border: 1px solid var(--co-back-gray);
        width: 100%;
    }
    .perfil-info h2 {
        font-size: 20px;
    }

    .perfil-info p {
        font-size: 14px;
    }

    .perfil-posts {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .no-posts {
        width: 99vw;
    }
    #back-to-home {
        left: 0;
    }
}

