.loaderSucces {
    background-color: var(--co-black-1);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    color: var(--co-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    z-index: 999;
}
.loader-success-register {
    height: 4px;
    width: 150px;
    --c:no-repeat linear-gradient(var(--co-white) 0 0);
    background: var(--c),var(--c),var(--co-blue-1);
    background-size: 60% 100%;
    animation: l16 3s infinite;
  }
  @keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
  }