.personal-data{
    border: 1px solid var(--co-back-gray);
    height: 100%;
    border-radius: 10px;
    min-width: 350px;
    display: flex;
    overflow-y: auto;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: .2rem;
    padding: .5rem;
    justify-content: space-evenly;
    color: var(--co-black-1);
}
#input-Pass-signin {
    display: flex;
    flex-direction: column;
}
#input-Pass-signin .btn-see{
    position: absolute;
    right: .3rem;
    top: 1.6rem;
    padding: 0;
}
#photo-profile-config {
    width: 100%;
    min-height: 190px;
}
.imagePerfil {
    cursor: pointer;
    position: absolute;
    right: .5rem;
    bottom: 38%;
    display: flex;
    background-color: var(--co-white);
    border-radius: 50%;
    padding: .2rem;
    border: 1px solid var(--co-back-gray);
    box-shadow: 0 0 15px 1px var(--co-back-gray);
}
.form-group-imagePerfil {
    border: 1px solid var(--co-back-gray);
}
.search-address {
    display: flex;
    width: 90%;
}
.search-address input {
    border-radius: 15px 0 0 15px;
    width: 100%;
}
.search-address button {
    border: 1px solid var(--co-back-gray);
    border-radius: 0 15px 15px 0;
    border-left: none;
}
.search-address button:hover{
background-color: var(--co-back-gray-2);
}
#label-card {
    display: flex;
    gap: .5rem;
    align-items: center;
    border: 1px solid var(--co-back-gray-3);
    width: 100px;
    border-radius: 15px;
    box-shadow: 0 0 15px 1px var(--co-back-gray);
    justify-content: center;
    height: 100px;
}
#personnel {
    border: 1px solid var(--co-gray);
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    left: 0;
    border-radius: 10px 0 0 10px;
    width: 75%;
    gap: .5rem;
    box-shadow: 7px 0 12px -5px var(--co-back-gray-3);
    background-color: var(--co-white);
    overflow-y: auto;
    padding: .5rem;
}
.gestion-sucrusal {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .5rem;
}
.card_personnel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--co-back-gray);
    border-radius: 10px;
}
.card_personnel img {
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}
.card_personnel button {
    padding: .2rem;
}
#personnel-btn {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    border: 1px solid var(--co-back-gray);
    opacity: 1;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 768px) {
    .configurations-section {
        width: 100%;
    }
}