#btn-signout {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.modal-overlay-sesion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--co-black-2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content-sesion {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
  }
  
  .modal-buttons-sesion {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    color: var(--co-white);
  }
  
  #confirm-btn {
    background: var(--co-red);
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #cancel-btn {
    background: var(--co-blue-1);
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #cancel-btn:hover , #confirm-btn:hover {
    filter: brightness(60%);
    transition: .5s ease;
  }
  