.all-gyms,.main-gyms{flex-direction:column;}.gym-list,.main-gyms{display:flex;gap: .15rem; }.main-gyms{width:100%;height:100vh;align-items:center;padding:.5rem 0}.gym-list{width:75%;align-items:center;height:70vh;overflow-y:auto;padding:.5rem;border:1px solid var(--co-back-gray);border-radius:20px}.all-gyms,.gym-card_width{overflow-y:auto;height:100%}.gym-card{width:100%;cursor:pointer;border:1px solid var(--co-back-gray-3);display:flex;align-items:center;flex-direction:column;gap:.2rem;padding:.3rem;box-shadow:0 5px 9px -4px var(--co-back-gray);border-radius:20px}.all-gyms,.gym-card_width,.gym-filter{gap:.5rem;display:flex;align-items: center;}.gym-card:hover{background-color:var(--co-back-gray-2);transition:.3s ease-in-out}.all-gyms{width:40%;align-items:center}.gym-card_width{width:100%;flex-direction:column;align-items:center}.gym-filter{width:75%;justify-content:space-between;align-items:center}.search-input{width:40%}.gym-image{border-radius:50%;width:55px;height:55px;border:3.5px solid var(--co-white)}.gym-card__image{text-align:center;width:100%;gap:.4rem;display:flex;align-items:center;position:relative;padding:.2rem}.gym-data__description,.no-gyms{text-align:justify}.gym-card-empty,.no-gyms{align-items:center;display:flex}.gym-card__province{color:var(--co-back-gray-3);text-shadow:0 0 1px var(--co-back-gray-3)}.gyms_available{width:75%}.no-gyms{border:1px solid var(--co-back-gray-2);height:100%;border-radius:20px;flex-direction:column;justify-content:center;gap:.5rem;padding:0 2rem}.social-links{display:flex;width:100%;gap:.75rem}.gym-card-header{width:100%;height:100px;border-radius:20px 20px 0 0}.gym-card__card{padding:0;gap:0;width:100%;height:auto;border:1px solid var(--co-back-gray);border-radius:20px;display:flex;flex-direction:column}.gym-card-empty{width:100%;height:100%;justify-content:center;border-radius:20px;border:1px solid var(--co-back-gray-2)}.gym-card-body{position:relative;bottom:2rem;width:100%;display:flex;align-items:center;margin-bottom:.5rem ; flex-wrap:wrap;gap:.75rem;padding-left:.7rem}.gym-image_width{width:75px;height:75px}.gym-data__description_lh{line-height:1.6;padding:0 .75rem;position:relative;bottom:1rem}.gym-card__tables{width:100%;display:flex;padding:0 .75rem;gap:.5rem;flex-wrap:wrap;justify-content:space-between}.max-people,.payment-contacts{padding-left:.75rem}.gym-card__tables table{width:100%;text-align:center;border:1px solid var(--co-back-gray)}.gym-card__tables table td{background-color:var(--co-back-gray-4);font-size:.82rem;padding:.3rem}.payment-methods{display:flex;padding:.75rem;align-items:center;gap:.75rem;flex-wrap:wrap}.max-people{position:relative;bottom:.5rem}.btn-close-card-gyms{display:none}@media screen and (max-width:768px){.gyms_available{width: 95%;}.gym-card__card,.gym-card_width{border-radius:20px 20px 0 0;width:100%}.gym-list{width:98%;}.gym-filter{width:97%}.all-gyms,.search-input{width:100%}.province-select{width:60%}.gym-card_width{position:fixed;; top:0;left:0;z-index:999;display:flex;align-items:center;flex-direction:column;justify-content:flex-end}.gym-card__card{background-color:var(--co-back-gray-2);overflow-y: auto;gap:.5rem}.gym-card-empty{display:none}.btn-close-card-gyms{display:inline-flex;position:absolute;right:0;border-radius:0 20px;background-color:var(--co-red);color:var(--co-white);cursor:pointer}.gym-card__tables{flex-wrap:wrap}.gym-card__tables table{width:100%}.gym-card__tables table td{font-size:1rem}}#go-back-search{font-size: 2rem;padding: .25rem;}
.contact-link {
    color: var(--co-gray);
}
.gym-card-body .name {
    color: var(--co-white);
}
.contact-link:hover {
    color: var(--co-black-1);
    text-decoration: underline;
    transition: .5s ease-in-out ;
}
.max-people {
    margin-top: .6rem;
}
.gym-card-header {
    width: 100%;
    min-height: 100px;
}
.gym-card__personal img{
width: 60px;
height: 60px;
border-radius: 50%;
}
.gym-card__personal-trainer-container 
{
    display: flex;
    align-items: center;
    gap: .5rem;
    text-align: center;
    justify-content: space-evenly;
    padding: .5rem;
    width: 100%;
    transition: .3s ease-in-out;
    overflow-x: auto;
}
.gym-card__personal-trainer {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-align: center;
    justify-content: space-evenly;
    padding: .5rem;
    width: 100%;
    flex-direction: column;
    transition: .3s ease-in-out;
}
.gym-card__personal-trainer-rol {
    color: var(--co-gray);
}
.branches {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-align: center;
    justify-content: space-evenly;
    padding: .5rem;
    width: 100%;
    transition: .3s ease-in-out;
    overflow-x: auto;
}
.branch {
    border: 1px solid var(--co-back-gray);
    padding: .5rem 0 0 0 ;
    border-radius: 10px 10px 0 0;
    box-shadow:5px 5px 10px -4px var(--co-back-gray-3);
}
.branch p {
    color: var(--co-gray);
}
.branches-container {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-align: center;
    justify-content: space-evenly;
    padding: .5rem;
    flex-direction: column;
    width: 100%;
    transition: .3s ease-in-out;
    overflow-x: auto;
}
.loader-search {
    --w:10ch;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: var(--w);
    width: var(--w);
    overflow: hidden;
    white-space: nowrap;
    color: var(--co-black-1);
    animation: l17 2s infinite;
  }
  .loader-search:before {
    content:"Buscando...";
  }
  .tab-button.active {
    background-color: var(--co-blue-1);
    color: var(--co-white);
  }
  
  .tab-content {
    opacity: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease, max-height 0.4s ease;
  }
  
  .tab-content.active {
    opacity: 1;
    max-height: 2000px; 
  }
.gym-card__specialty-and-payments {
    display: flex;
    flex-direction: column;
    margin:0 .75rem .75rem ;
    line-height: 1.6;
}
strong {
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .gym-filter label select{
        width: 100%;
    }
}