.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.Form-signIn {
    border: 1px solid var(--co-back-gray);
    width: 60%;
    height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .3rem;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 9px 15px -5px var(--co-back-gray);
}
.Form-signIn form {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-between ;
    gap: 1rem;
}
.Form-signIn form label input , .Form-signIn form label select {
    border: 1px solid var(--co-back-gray);
    border-radius: 5px;
    padding: .5rem;
    width: 200px;
}
#input-Pass-signin {
    position: relative;
}
.Form-signIn form .btn-see {
    padding: 0;
    border-radius: 0;
    position: absolute;
    bottom:.5rem;
    right: .5rem;
}
#label-photo {
    border: 1px solid var(--co-back-gray);
    box-shadow: 0 8px 13px -5px var(--co-back-gray);
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
}
#img-perfil-login {
    width: 150px;
    height: 200px;
    border-radius: 20px;
}
.btn-register {
    margin-top: .5rem;
    background: linear-gradient(90deg, black, #2d3bff, #cf1512);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent ;
    font-weight: bold;
}
.registered {
    text-decoration: underline;
    color: var(--co-blue-1);
}

@media screen and (max-width:768px) {
    .main {
        gap: 0;
    }
    .Form-signIn {
        width: 98%;
        height: 99vh;
    }
    .Form-signIn form {
        justify-content: center;
    }
    .Form-signIn form label input , .Form-signIn form label select{
        width: 300px;
    }
    .Form-signIn form {
        height: 85%;
    }
    .txtRegister {
    font-size: 1rem;
    }
    .registered {
        font-size: .8rem;
    }
    #label-photo , #img-perfil-login{
        width: 70px;
        height: 70px;
    }
}
