#sect-publications {
    position: relative;
}
.container-publications {
    width: 59vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.publication {
    border: 1px solid var(--co-back-gray);
    border-radius: 20px;
    padding: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;
    text-align: justify;
    box-shadow: 0 6px 6px -5px var(--co-back-gray);
}
.paragrahp {
    line-height: 1.5;
}
#name_gym {
    font-weight: bold;
}
.publication-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: .5rem;
}
.publication-header div {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.publication-header img {
    border: 1px solid var(--co-back-gray);
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px 1px var(--co-back-gray);
    border-radius: 50%;
}
.publication-header span {
    font-size: .75rem;
}
#sentiment-user {
    color: var(--co-gray);
}
.reactions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.reactions img {
    width: 24px;
    height: 24px;
    border-radius: 10px;
    padding: .3rem;
}

#btn-filter {
    display: flex;
    width: 59%;
    justify-content: center;
    position: fixed;
    bottom: 13%;
}
.btn-show-more , .no-publications-message {
    border: 1px solid var(--co-back-gray);
}
#link-user {
    color: var(--co-gray);
    text-decoration: underline;
}
#link-user:hover {
    color: var(--co-back-gray);
    transition: .3s;
}
#isShared {
    color: var(--co-gray);
    align-self: flex-end;
}
@media screen and (max-width:768px) {
    .container-publications {
        width: 96vw;
    }
    #btn-filter{ 
        width: 94%;
        bottom: 9%;
    }
}